# Maven
target/

# IntelliJ
.idea/


# VS Code
.vscode/

# Eclipse
.project
.classpath
.settings/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Environment
.env

# Application secrets (optional)
application-local.yml
application-local.properties

# Maven Wrapper
.mvn/wrapper/maven-wrapper.properties